extends ../layout

block content 
  .row
    .callout.large.text-center 
      h1 Login required
      p.lead You need to have a registered account to join a group. You can 
        a(href='/login') log in here, or 
        a(href='/register') a new student account here
