doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    script(type="application/javascript", src="/javascripts/drawcery.js")
    script(type="application/javascript", src="/javascripts/jquery-1.11.3.min.js")
    script(type="application/javascript", src="/javascripts/foundation.min.js")
    
    
    .title-bar(data-responsive-toggle="main-menu" data-hide-for="medium")
      .row 
        if user
          .title-bar-title 
            h3
              a(href='/') Drawcery | Welcome, #{user.firstname} #{user.surname}
          .top-bar-right
            ul.menu(data-responsive-menu="drilldown medium-dropdown")
              li
                a(href='/questions/new') New Question
              li 
                a(href='/users/logout') Logout
        else 
          .title-bar-title 
            h3 
              a(href='/') Drawcery
          .top-bar-right 
            ul.menu(data-responsive-menu="drilldown medium-dropdown")
              li 
                a(href='/login') Login
        
  body
    block content
