extends ../layout

block content 
  .row
    .medium-6.columns  
      h1 Question
      h3 #{question.questionText}
      h5
        input(type='hidden',id='QuestionMolecule_jme', value="#{question.molecule_jme}")
    .medium-6.columns
      h3 view molecuel
      include ../JSME/question_show_jsme.html
