extends ../layout

block content 
  .row
    .medium-6.columns  
      h1 Question
      h4 Marks Available: #{question.marksAvailable}
      h4 #{question.questionText}
      hr
      h1 Your Answer 
      h5 Use the molecule editor on the right to draw your answer, and the blue button below to transfer your answer when you're done. Hitting the 'reset molecule' button will return the editor to its original state. 
      .row(align='center')
        a(class='button secondary', id='resetMoleculeButton') Reset molecule
      
      form(id="newAnswerForm", method="post", action="/answers/new")
        input(type='hidden', name='QuestionId', value='#{question._id}')
        input(type='hidden', name='EditHistory', value="", id="EditHistory")
        textarea(rows=5, name='AnswerText', placeholder='Explain your answer, or respond to any part of the question above', required)
        input(type='text', name='AnswerMolecule_smiles', placeholder='Use button to take structure from editor', id='AnswerMolecule_smiles_input')
        .row(align='right')
          div.button(id='take_jme') Take structure from editor
        
        input(type='hidden', name='AnswerMolecule_jme', id='AnswerMolecule_jme_input')
        input(type="submit", class="button success", value='Submit', id='newAnswerSubmitButton', style='display:none;')
    .medium-6.columns
      
      h5 
        input(type='hidden',id='QuestionMolecule_jme', value="#{question.molecule_jme}")
      h2 Molecule editor
      include ../JSME/question_show_jsme.html
